{:kotoba.app/id "cloud.itonami.isic-6312", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigmowafvlv5eb5lbpycapofrmxu6toseroznzayanfztj3o5jxug4", :kotoba.app/embed-url "ipfs://bafkreigmowafvlv5eb5lbpycapofrmxu6toseroznzayanfztj3o5jxug4", :published {:archive "https://kotobase.net/ipfs/bafkreigmowafvlv5eb5lbpycapofrmxu6toseroznzayanfztj3o5jxug4", :size 72932, :put-status 201, :get-status 200, :at "2026-08-15T13:32:58.673Z"}}
